<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand mx-4 text-uppercase" href="{% url 'index' %}">Themis</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarNav">
			<ul class="navbar-nav">

				<!-- Authentication -->
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'operation-home' %}">Operations</a>
				</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'dashboard' %}">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'wellboard' %}">Wells</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'dayboard' %}">Days</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'invoiceboard' %}">Revenue</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'crewboard' %}">Crew</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'toolboard' %}">Tools</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'spareboard' %}">Spares</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'noteboard' %}">Notes</a>
					</li>



					<!-- <li class="nav-item">
						<a class="nav-link" href="{% url 'scheduleboard' %}">Schedule</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'trackerboard' %}">Tracker</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="{% url 'hercboard' %}">HERC</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="#">{{ user.username }}</a>
					</li>
				{% else %}
				<!-- END Authentication -->
				<li class="nav-item">
					<a class="nav-link" href="#">LogIn</a>
				</li>



				{% endif %}

			</ul>
		</div>
	</div>
</nav>