{% extends 'base/base.html' %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-note' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Note </th>
        <th scope="col">Date</th>
        
        <th scope="col">Completed</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for note in notes %}
      <tr>
        <th scope="row">{{ note.subject}} </th>
        <td>{{ note.note }}</td>
        <td>{{ note.day_due }}</td>
       
        {% if note.completed %}
        <td>Yes</td>
        {% else %}
        <td class="text-danger">No</td>
        {% endif %}
        <td><a class="nav-link text-info" href="{% url 'edit-note' note.id %}">Update</a></td> 
        <td><a class="nav-link text-secondary" href="{% url 'delete-note' note.id %}" class="btn btn-secondary">Delete</a></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}