{% extends 'base/base.html' %}
{% block content %}
<div class="container">
<a href="{% url 'dashboard' %}" class="btn btn-outline-info rounded my-3 mx-4">Go Back</a>

<h3 > Project - {{ project.project_name}}</h3>

<div class="card m-2">
    <div class="text-uppercase fs-5 m-2">Well</div>
    <div class="card-body">
        {% for well in project.well_set.all %}
        {% if well.active %}
        <div class="text-primary">
            <td><a class="nav-link text-info" href="{% url 'detail-well' well.id %}">{{ well.well_name }}</a></td> 
         </div>
{% else %}
         <div>
            <td><a class="nav-link text-secondary" href="{% url 'detail-well' well.id %}">{{ well.well_name }}</a></td> 
         </div>

        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="card m-2">
    <div class="text-uppercase fs-5 m-2">Crew</div>
    <div class="card-body">
        {% for crew in project.crew_set.all %}
        {% if crew.on_location %}
        <div class="text-success">
            {{ crew.first_name }} {{ crew.last_name }}
            </div>

        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="card m-2">
    <div class="text-uppercase fs-5 m-2">Tools</div>
    <div class="card-body">
        {% for tool in project.tool_set.all %}
        {% if tool.tool_used %}
        <div class="text-danger">
            {{ tool.tool_number}}
            </div>
            {% else %}
        <div class="text-secondary">
        {{ tool.tool_number}}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="card m-2">
    <div class="text-uppercase fs-5 m-2">Operations</div>
    <div class="card-body">
        {% for day in project.day_set.all %}
        <div class="text-secondary">
        {{day.day}} - {{ day.current_operations }}
       
        </div>
        {% endfor %}
    </div>
</div>




{% endblock content %}