{% extends 'base/base.html' %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <!-- <a href="#"><h1 class="navbar-brand text-uppercase">Themis</h1></a> -->
    <div class="col-lg-6 mx-auto">
      <!-- <p class="lead mb-4">Add PMs, projects and tasks.</p> -->
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'operation-add-project' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Project</button></a>
        <a href="{% url 'operation-add-project-manager' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Manager</button></a>
        <a href="{% url 'operation-add-project-action' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Action</button></a>

      </div>
    </div>
  </div>
    
{% endblock content %}