{% extends 'base/base.html' %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">Themis</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Build, manage and close projects all in one place.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'operation-dashboard' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Build</button></a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Manage</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Close</button>
      </div>
    </div>
  </div>
    
{% endblock content %}