{% extends 'base/base.html' %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-end m-4">
      {% if user.is_superuser %}
      <a href="{% url 'add-invoice' %}" class="btn btn-outline-info rounded">+</a>
      {% endif %}
    </div>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Well</th>
          <th scope="col">Inv Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Details</th>
          <th scope="col">Paid</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  {% for invoice in invoices %}
        <tr>
          <th scope="row">{{ invoice.project_name }}</th>
          <td>{{ invoice.well_name }}</td>
          <td>{{ invoice.invoice_date }}</td>
          <td>{{ invoice.invoice_amount|floatformat:2 }}</td>
          <td>{{ invoice.invoice_reason }}</td>
          {% if invoice.invoice_paid %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
          <td><a class="nav-link text-info" href="{% url 'edit-invoice' invoice.id %}">Update</a></td> 
        </tr>
  {% endfor %} 
      </tbody>
    </table>
  </div>
{% endblock content %}