{% extends 'base/base.html' %}
{% block content %}
<div class="container">





  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4 pt=4">
    <div class="card">
        <div class="card-body">
          <h5>MPD</h3>
            <p>{{ mmb_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>RCD</h3>
            <p>{{ rcd_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Pipe</h3>
            <p>{{ pipework_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>LF</h3>
            <p>{{ lift_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Sup</h3>
            <p>{{ mpd_supervisor_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Op</h3>
            <p>{{ mpd_operator_sum }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>SupDel</h3>
            <p>{{supervisor_weather_delay_sum}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>OpDel</h3>
            <p>{{operator_weather_delay_sum }}</p>
        </div>
      </div>
    </div>




  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-day' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Well</th>
        <th scope="col">MPD</th>
        <th scope="col">RCD</th>
        <th scope="col">Pipe</th>
        <th scope="col">LF</th>
        <th scope="col">Sup</th>
        <th scope="col">Op</th>
        <th scope="col">SupDel</th>
        <th scope="col">OpDel</th>
        <th scope="col"></th>
     
       
        
      </tr>
    </thead>
    <tbody>

        {% for day in days %}
      <tr >
        <td scope="row">{{ day.day}} </th>
        <td>{{ day.well_name}} </th>
          {% if  day.mpd_manifold_building %}
        <td>{{ day.mpd_manifold_building }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.rcd_housing %}
        <td>{{ day.rcd_housing }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.pipework %}
        <td>{{ day.pipework }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.lift_frame %}
        <td>{{ day.lift_frame }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.mpd_supervisor %}
        <td>{{ day.mpd_supervisor }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.mpd_operator %}
        <td>{{ day.mpd_operator }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.supervisor_weather_delay %}
        <td>{{ day.supervisor_weather_delay }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.operator_weather_delay %}
        <td>{{ day.operator_weather_delay }}</td>
        {% else %}
        <td>-</td>
        {% endif %}

        <td><a class="nav-link text-info" href="{% url 'edit-day' day.id %}">Update</a></td> 
      </tr>
    
      {% endfor %} 
       
    </tbody>
  </table>
</div>
{% endblock content %}
