{% extends 'base/base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-day' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Well</th>
        <th scope="col">MPD</th>
        <th scope="col">RCD</th>
        <th scope="col">Pipe</th>
        <th scope="col">LF</th>
        <th scope="col">Sup</th>
        <th scope="col">Op</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
        <th>Totals</td>
          <td></td>
        <td><strong>{{ mmb_sum }}</strong></td>
        <td><strong>{{ rcd_sum }}</strong></td>
        <td><strong>{{ pipework_sum }}</strong></td>
        <td><strong>{{ lift_sum }}</strong></td>
        <td><strong>{{ mpd_supervisor_sum }}</strong></td>
        <td><strong>{{ mpd_operator_sum }}</strong></td>  
        <td></td>   
      </tr>
        {% for day in days %}
      <tr >
        <td scope="row">{{ day.day}} </th>
        <td>{{ day.well_name}} </th>
          {% if  day.mpd_manifold_building %}
        <td>{{ day.mpd_manifold_building }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.rcd_housing %}
        <td>{{ day.rcd_housing }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.pipework %}
        <td>{{ day.pipework }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.lift_frame %}
        <td>{{ day.lift_frame }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.mpd_supervisor %}
        <td>{{ day.mpd_supervisor }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if  day.mpd_operator %}
        <td>{{ day.mpd_operator }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td><a class="nav-link text-info" href="{% url 'edit-day' day.id %}">Update</a></td> 
      </tr>
    
      {% endfor %} 
       
    </tbody>
  </table>
</div>
{% endblock content %}
