{% extends 'base/base.html' %}

{% block content %}
<div class="container">

  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-day' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>



<table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Well</th>
        <th scope="col">MPD</th>
        <th scope="col">RCD</th>
        <th scope="col">Pipe</th>
        <th scope="col">LF</th>
        <th scope="col">Sup</th>
        <th scope="col">Op</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for day in days %}
      <tr>
        <th scope="row">{{ day.day}} </th>
        <th>{{ day.well_name}} </th>
        <td>{{ day.mpd_manifold_building }}</td>
        <td>{{ day.rcd_housing }}</td>
        <td>{{ day.pipework }}</td>
        <td>{{ day.lift_frame }}</td>
        <td>{{ day.mpd_supervisor }}</td>
        <td>{{ day.mpd_operator }}</td>
        <td><a class="nav-link text-info" href="{% url 'edit-day' day.id %}">Update</a></td> 
      </tr>
      {% endfor %} 

    </tbody>
  </table>
</div>
{% endblock content %}