{% extends 'base/base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-tool' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tool Name</th>
        <th scope="col">Number </th>
        <th scope="col">Location</th>
        <th scope="col">Well</th>
        <th scope="col">Used</th>
        <th scope="col">Hours</th>
        <th scope="col">Distance</th>
        <th scope="col">Revs</th>
        <th scope="col">Updated</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
{% for tool in tools %}
{% if tool.tool_used %}
        <tr>
          <th scope="row" class="text-danger">{{ tool.tool_name }}</th>
          <td class="text-danger">{{ tool.tool_number }}</td>
          <td class="text-danger">{{ tool.tool_location }}</td>
          <td class="text-danger">{{ tool.well_name.well_name }}</td>
          {% if tool.tool_used %}
          <td class="text-danger">Yes</td>
          {% else %}
          <td class="text-danger">No</td>
          {% endif %}
          {% if tool.tool_used and tool.tool_hours > 0  %}
          <td class="text-danger">{{tool.tool_hours}}</td>
          {% elif tool.tool_used and tool.tool_hours == 0 %}
          <td class="text-success">0.0</td>
          {% else %}
          <td class="text-danger">-</td>
          {% endif %}
          {% if tool.tool_used and tool.tool_hours > 0  %}
          <td class="text-danger">{{tool.tool_distance}}</td>
          {% elif tool.tool_used and tool.tool_hours == 0 %}
          <td class="text-success">0.0</td>
          {% else %}
          <td class="text-danger">-</td>
          {% endif %}
          {% if tool.tool_used and tool.tool_hours > 0  %}
          <td class="text-danger">{{tool.tool_revolutions}}</td>
          {% elif tool.tool_used and tool.tool_hours == 0 %}
          <td class="text-success">0.0</td>
          {% else %}
          <td class="text-danger">-</td>
          {% endif %}
          <td class="text-danger">{{ tool.date_updated }}</td>
          <td ><a class="nav-link text-danger" href="{% url 'edit-tool' tool.id %}">Update</a></td> 
        </tr>
{% else %}
      <tr>
        <th scope="row">{{ tool.tool_name }}</th>
        <td>{{ tool.tool_number }}</td>
        <td>{{ tool.tool_location }}</td>
        <td>{{ tool.well_name.well_name }}</td>
        {% if tool.tool_used %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>{{ tool.date_updated }}</td>
        <td><a class="nav-link text-info" href="{% url 'edit-tool' tool.id %}">Update</a></td> 
      </tr>
{% endif %}
{% endfor %} 
    </tbody>
  </table>
</div>
{% endblock content %}