{% extends 'base/base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-crew' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Title </th>
        <th scope="col">Project</th>
        <th scope="col">Location</th>
        <th scope="col">Airport</th>
        <th scope="col">Updated</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for crew in crews %}
        {% if crew.BST and crew.H2S and crew.on_location %}
        
      <tr class="table-success">
        <th scope="row">{{ crew.first_name}} {{ crew.last_name}}</th>
        <td>{{ crew.job_title }}</td>
        <td>{{ crew.project }}</td>
        <td>{{ crew.location }}</td>
        <td>{{ crew.airport }}</td>
        <td>{{ crew.date_updated }}</td>
        <td><a class="nav-link text-info" href="{% url 'edit-crew' crew.id %}">Update</a></td> 
        <td><a class="nav-link text-info" href="{% url 'detail-crew' crew.id %}">Detail</a></td> 
      </tr>
      {% elif crew.BST and crew.H2S %}
      <tr>
        <th scope="row">{{ crew.first_name}} {{ crew.last_name}}</th>
        <td>{{ crew.job_title }}</td>
        <td>{{ crew.project }}</td>
        <td>{{ crew.location }}</td>
        <td>{{ crew.airport }}</td>
        <td>{{ crew.date_updated }}</td>
        <td><a class="nav-link text-info" href="{% url 'edit-crew' crew.id %}">Update</a></td> 
        <td><a class="nav-link text-info" href="{% url 'detail-crew' crew.id %}">Detail</a></td> 
      </tr>
      {% else %}
      <tr class="table-danger">
        <th scope="row">{{ crew.first_name}} {{ crew.last_name}}</th>
        <td>{{ crew.job_title }}</td>
        <td>{{ crew.project }}</td>
        <td>{{ crew.location }}</td>
        <td>{{ crew.airport }}</td>
        <td>{{ crew.date_updated }}</td>
        <td><a class="nav-link text-info" href="{% url 'edit-crew' crew.id %}">Update</a></td> 
        <td><a class="nav-link text-info" href="{% url 'detail-crew' crew.id %}">Detail</a></td> 
      </tr>
      {% endif %}
      {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock content %}