{% extends 'base/base.html' %}
{% block content %}
<div class="container">
	<a href="{% url 'crewboard' %}" class="btn btn-outline-info rounded my-3 mx-4">Go Back</a>
    <div class="card m-2">
        <div class="card-body">
            <h3 > {{ crew.first_name }} {{ crew.last_name }}</h3>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <div class="card-title mb-2">
                    <h3 >Data</h3>
                    </div>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">Position - {{crew.job_title}}</li>
                            <li class="list-group-item ">Airport - {{crew.airport}}</li>
                            <li class="list-group-item ">Project - {{crew.project}}</li>
                        </ul>
                    </div>
                <div class="card-title mt-2">
                    <h3 >Certifications</h3>
                </div>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% if crew.BST %}
                        <li class="list-group-item ">BST - {{ crew.date_bst }} | Expires - {{ crew.bst_expires }} | {{ crew.bst_expires|timeuntil:crew.today }}</li>
                        {% endif %}
                        {% if crew.IWCF %}
                        <li class="list-group-item ">IWCF - {{ crew.date_iwcf }} | Expires - {{ crew.iwcf_expires }} | {{ crew.iwcf_expires|timeuntil:crew.today }}</li>
                        {% endif %}
                        {% if crew.H2S %}
                        <li class="list-group-item ">H2S - {{ crew.date_h2s }} | Expires - {{ crew.h2s_expires }} | {{ crew.h2s_expires|timeuntil:crew.today }}</li>
                        {% endif %}

                        {% if not crew.BST %}
                        <li class="list-group-item ">BST Expired {{ crew.bst_expires }}</li>
                        {% endif %}
                        {% if not crew.IWCF %}
                        <li class="list-group-item ">IWCF Expired {{ crew.iwcf_expires }}</li>
                        {% endif %}
                        {% if not crew.H2S %}
                        <li class="list-group-item ">H2S Expired {{ crew.h2s_expires }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>



      </div>






{% endblock content %}