{% extends 'base/base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-end m-4">
    {% if user.is_superuser %}
    <a href="{% url 'add-project' %}" class="btn btn-outline-info rounded">+</a>
    {% endif %}
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Drilled Length Rotating</th>
        <th scope="col">drilledLengthSliding</th>
        <th scope="col">drilledLengthTotal</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for tracker in trackers %}
      <tr>
        <th scope="row">{{ tracker.drilledLengthRotating }}</th>
        <th scope="row">{{ tracker.drilledLengthSliding }}</th>
        <th scope="row">{{ tracker.drilledLengthTotal }}</th>

      </tr>
      {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock content %}