{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
    <a href="{% url 'trackerboard' %}" class="btn btn-outline-info rounded my-3 mx-4">Go Back</a>
        <div class="card">
            <div class="card-body">
            <h3 > Well  - {{ tracker.well_name}}</h3>
       
                <div class="card-title">
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">Project  - {{tracker.project_name}}</li>          
                    <li class="list-group-item ">Section  - {{tracker.hole_section}}</li>
                    <li class="list-group-item ">Run  - {{tracker.run_number}}</li>
                    <li class="list-group-item ">RCD  - {{tracker.rcd_number}}</li>
                    <li class="list-group-item ">Bearing  - {{tracker.bearing_number}}</li>
                    <li class="list-group-item ">Element  - {{tracker.sealing_element}}</li>
                </ul>
            </div>
            <div class="card-body">
                <h3 > Specs</h3>
                    <div class="card-title">
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">Total Installed Time  - {{tracker.total_installed_time}}</li>
                        <li class="list-group-item ">Total Rotating Time  - {{tracker.total_rotating_time}}</li>
                        <li class="list-group-item ">Max RPM  - {{tracker.max_rpm}}</li>
                        <li class="list-group-item ">Total Stripped Distance  - {{tracker.total_stripped_length}}</li>
                        <li class="list-group-item ">Max Connection Surface Backpressure  - {{tracker.max_connection_surface_back_pressure}}</li>
                        <li class="list-group-item ">Max Drilling Surface Backpressure  - {{tracker.max_drilling_surface_back_pressure}}</li>
                        <li class="list-group-item ">Max Tripping Surface Backpressure  - {{tracker.max_stripping_surface_back_pressure}}</li>
                        <li class="list-group-item ">Average Flowline Temp - {{tracker.average_flow_line_temp}}</li>
                        <li class="list-group-item ">Max Flowline Temp - {{tracker.max_flow_line_temp}}</li>
                        <li class="list-group-item ">Mud System - {{tracker.mud_system}}</li>
                        <li class="list-group-item ">Mud Weight - {{tracker.mud_weight}}</li>
                        <li class="list-group-item ">Sealing Element Failure - {{tracker.sealing_element_failure}}</li>
                    </ul>
                </div>
                </div>
                </div>
                
        </div>
    </div>
{% endblock content %}